

a, p, li {font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size:16px;
}
h1,h2,h3,h4{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600;
}
a:hover, a{
	text-decoration:none;
}
html .navbar-form .form-group {
	margin-bottom:15px;
}
#calendario{
	margin-top:20px;
}
.direita{
	margin-top:35px;
}
.container{
	background-color:#ffffff;
	padding: 0;
	
	
}
body{
	background-color: rgba(23, 67, 122, 0.47);
	background-image: url('../images/nice-snow.png');
}
#contatos{
	float:left;
	line-height:60px;
	margin-left:20px;
	font-size:20px;
}
#logos{
	float:right;
}
#logo{
	background:url('../images/fundo-header.jpg');
	background-repeat:no-repeat;
	height: 200px;
	background-position-x: 215px;
}
#logo img {
	margin: 26px;
	width: 270px;
	padding: 10px;
	background: #ffffff;
	border-radius: 30px;
	border: #17437a solid 1px;
	box-shadow: 1px 1px 10px 1px #615D5D;
}
.centro{
	display:block;
	margin:0 auto;
	float: none;
	
}
header.container{
	box-shadow:none;
}
.row{

	 margin-left: 0; 
	 margin-right: 0; 
}

@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
    			    			        display: block;
    			    			    }
}
.container {
width: 1170px;
box-shadow: 0px 8px 21px #000000;
}
ul li a{
	color:#ffffff;
}
footer ul li a, #contatos p{
	font-size:14px;
	text-decoration:none;
	
}
.mapa >li > a{
	color:#00aee5;
	font-weight: bolder;
	
}
.mapa >li > a:hover{
	color:#ffffff;
	text-decoration:none;
}
.dropdown-menu {
	right:1px;
	left: initial;
}
footer ul li a:hover{
	color:#F96770;
}
.nav-justified{
	width:90%;
}
#menu-principal{
	background:#17437a;
}
.row.principal{
	margin-bottom:35px;
}
#noticias-section > div, #biblioteca > div, footer > div{
	display:inline-block;
	float:left;
}
main{
	
}
.aside{
	border-left: solid #7a202b 1px;
}
section{
	clear:both;
	margin:10px;
}

section .slide p{
	margin:0;
	width: 274px;
}

#myCarousel{
	width: 105%;
	margin-left: -65px;
	
}
.carousel img{
	margin-left: 75px;
}
.modulo-sidebar{
	margin:20px 5px;
}
 .esquerda h1{
/*				border-bottom:1px solid #7a202b;*/
    font-size: 47px;

}
.inline-block{
	display:inline-block;
	float:left;
}
.agenda-geral{
	width:30%
}
.info-evento{
	clear:both;
}
.agenda-archive-titulo{
	width:65%;
	
}
.agenda-archive-titulo h2{
	margin:0px 0 0 10px;
	line-height:13px;
}
.info-evento h3{
	margin-top:10px;
}
.info-evento p{
	margin-bottom:5px;
}
.cada-dia{
	background-color: rgba(143, 136, 137, 0.1);
	padding:20px;
	margin:10px;
	width:300px;
	border-radius: 11px;
}

#primeira-linha{
	width: 960px;
	margin: 0 auto;
}
.data-evento-agenda{
	width: 70px;
	padding: 10px 10px 12px;
	background-color: #17437a;
	color: #ffffff;
	text-align: center;
	line-height: 23px;
	height: 70px;
	
}
.evento-agenda a{
	color:#ffffff;
	
}
.leia-mais-agenda{
	float:right;
}
.hora-evento{
	width: 70px;
	background: #d33b44;
	text-align: center;
	height: 29px;
	line-height: 29px;
}
.mes-agenda{
	font-size:1.5em;
	color: rgb(231, 87, 87);
}
.dia-agenda{
	font-size:1.9em;
}
.esquerda h2{
	font-size: 39px;
    
}
.esquerda {
	margin: 0px 0 20px 50px;
	
}
.col-md-8.esquerda {
	width: 62%;
}
.btn-primary {
color: #fff;
background-color: #17437a;
border-color: #17437a;
}
h1, h2, h4{
	color:#17437a;
	
}
.item{
    background: #d33b44;    
    text-align: center;
	height: 279px !important;
/*				padding: 40px 10px;*/
	
}
.item:nth-child(2n) .img-carousel{
	height: 100%;
	padding: 50px 20px 0 0;
	background: #d33b44;
}
.item:nth-child(2n) .titulo-carousel{
	background: #7a202b;
}
.item:nth-child(2n){
	background: #17437a;
}

.img-carousel{
	height: 100%;
	padding: 50px 20px 0 0;
	background: #17437a;
}
.img-carousel img{
	width:255px;
}
.carousel{
/*			    margin-top: 20px;*/
}
.bs-example{
	margin: 20px;
}
.carousel-inner .item > div {
	display:inline-block;
	position:relative;
}
.carousel-caption{
	left:0px;
	margin:0px;
	width:50%;
	padding:0;
	z-index:0;
}
.texto-carousel{
	margin: -18px 0 0 0;
	background: #d33b44;
	padding: 23px 90px 0 10px;
}
.item:nth-child(2n) .texto-carousel{
	background: #17437a;
	
}
#item-bibli > *{
	display:block;
	margin:0 auto;
	text-align:center;
}

a.carousel-control.right,a.carousel-control.left {
	background:transparent;
}
.titulo-carousel{
	background: #00aee5;
	margin: 0 -18px;
	padding: 16px;
}
footer.container, html #DIV_5{
	padding:10px;
	background-color:#17437a;
	background-image:url('../images/nice-snow3.png');
	color:#ffffff;
}
#contatos img{
	margin-left:30px;
}
.logos{
	width: 330px;
	margin: 0px 20px 0 -70px;
}
.mapa > li{
	display:inline-block;
	vertical-align:top;
	margin:10px;
	
}
.mapa li ul li{
	display:block;
	line-height:20px;
	margin:0px;
	
}
html .carousel-indicators {
bottom: 10px;
}

.navbar-nav.centro{
padding: 0;
width: 92%;
}
.busca{
	
}
ul,ol{
	padding: 0 0 0 10px;
}
#enderecos{
	display:none;
	margin-bottom:20px;
}
#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}
 
#breadcrumbs li{
    float:left;
    margin-right:15px;
}
#breadcrumbs li a{
	color:#428bca;
}
 
#breadcrumbs .separator{
    font-weight:700;
    font-size:20px;
    color:#999;
}
#pagination, #pagination2{
text-align:center;}
#noticias .esquerda{
	min-height:1160px;
}
.noticia.col-md-3{
	min-height: 398px;
}
.bloco-destaque{
	min-height:650px;
}
.bloco-noticia{
	min-height:400px;
}
#noticia-destaque2{
	margin-top:32px;
}

