
/*
amarelo #CCAB1a vermelho #CCAB1a
azul claro #c1c435 
vermelho #717F1F verde #2C512D

*/
a, p, li {font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size:16px;
}
a {
color: #717F1F;
text-decoration: none;
}
img{
	border-radius:3px;
}
h1,h2,h3,h4{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600;
}
a:hover, a:focus {
color: #c1c435;
text-decoration: underline;
}
a:hover, a{
	text-decoration:none;
}
html .navbar-form .form-group {
	margin-bottom:15px;
}
#calendario{
	margin-top:20px;
}
.direita{
	margin-top:35px;
}
.container{
	background-color:#ffffff;
	padding: 0;
	
	
}
body{
	background-color: rgba(23, 67, 122, 0.47);
	background-image: url('../images/nice-snow.png');
}
#contatos{
	float:left;
	line-height:60px;
	margin-left:20px;
	font-size:20px;
}
#logos{
	float:right;
	margin: 35px 0;
	
}
#logo{
	background:url('../images/fundo-header.jpg');
	background-repeat:no-repeat;
	height: 200px;
	background-position-x: 215px;
}
#logo img {
	margin: 26px;
	width: 270px;
	padding: 10px;
	background: #ffffff;
	border-radius: 30px;
	border: #2C512D solid 1px;
	box-shadow: 1px 1px 10px 1px #615D5D;
}
.centro{
	display:block;
	margin:0 auto;
	float: none;
	
}
header.container{
	box-shadow:none;
}
.row{

	 margin-left: 0; 
	 margin-right: 0; 
}


.dropdown:hover .dropdown-menu {
  	display: block;
 			    			    }
/* usar para responsivo */
/*@media only screen and (min-width : 768px) {
    .dropdown:hover .dropdown-menu {
    			    			        display: block;
    			    			    }
}*/

.container {
width: 1170px;
box-shadow: 0px 8px 21px #000000;
}
ul li a{
	color:#ffffff;
}
footer ul li a, #contatos p{
	font-size:14px;
	text-decoration:none;
	
}
.mapa > ul > li > a{
	color:#c1c435;
	font-weight: bolder;
	
}
.mapa >li > a:hover{
	color:#ffffff;
	text-decoration:none;
}
.dropdown-menu {
	right:1px;
	left: initial;
}
footer ul li a:hover{
	color:#CCAB1A;
}
.nav-justified{
	width:90%;
}
#menu-principal{
	background:#2C512D;
}
.row.principal{
	margin-bottom:35px;
}
#noticias-section > div, #biblioteca > div, footer > div{
	display:inline-block;
	float:left;
}
main{
	
}
.aside{
	border-left: solid #2C512D 1px;
}
section{
	clear:both;
	margin:10px;
}

section .slide p{
	margin:0;
	width: 274px;
}

#myCarousel{
	width: 105%;
	margin-left: -65px;
	
}
.carousel img{
	margin-left: 75px;
}
.modulo-sidebar{
	margin:20px 5px;
}
 .esquerda h1{
/*				border-bottom:1px solid #CCAB1a;*/
    font-size: 47px;

}
.inline-block{
	display:inline-block;
	float:left;
}
.agenda-geral{
	width:30%
}
.info-evento{
	clear:both;
}
.agenda-archive-titulo{
	width:65%;
	
}
.agenda-archive-titulo h2{
	margin:0px 0 0 10px;
	line-height:13px;
}
.info-evento h3{
	margin-top:10px;
}
.info-evento p{
	margin-bottom:5px;
}
.cada-dia{
	background-color: rgba(143, 136, 137, 0.1);
	padding:20px;
	margin:10px;
	width:300px;
	border-radius: 11px;
}

#primeira-linha{
	width: 960px;
	margin: 0 auto;
}
.data-evento-agenda{
	width: 70px;
	padding: 10px 10px 12px;
	background-color: #2C512D;
	color: #ffffff;
	text-align: center;
	line-height: 23px;
	height: 70px;
	
}
.evento-agenda a, .hora-evento{
	color:#ffffff;
	
}
.leia-mais-agenda{
	float:right;
}
.hora-evento{
	width: 70px;
	background: #717F1F;
	text-align: center;
	height: 29px;
	line-height: 29px;
}
.mes-agenda{
	font-size:1.5em;
	color: rgb(231, 87, 87);
}
.dia-agenda{
	font-size:1.9em;
}
.esquerda h2{
	font-size: 32px;
    
}
.esquerda {
	margin: 0px 0 20px 20px;
	
}
.col-md-8.esquerda {
	width: 62%;
}
.btn-primary {
color: #fff;
background-color: #2C512D;
border-color: #2C512D;
}
h1, h2, h4{
	color:#2C512D;
	
}
.item{
    background: #717F1F;    
    text-align: center;
	height: 279px !important;
/*				padding: 40px 10px;*/
	
}
.item:nth-child(2n) .img-carousel{
	height: 100%;
	padding: 50px 20px 0 0;
	background: #717F1F;
}
.item:nth-child(2n) .titulo-carousel{
	background: #CCAB1a;
}
.item:nth-child(2n){
	background: #2C512D;
}

.img-carousel{
	height: 100%;
	padding: 50px 20px 0 0;
	background: #2C512D;
}
.img-carousel img{
	width:255px;
}
.carousel{
/*			    margin-top: 20px;*/
}
.bs-example{
	margin: 20px;
}
.carousel-inner .item > div {
	display:inline-block;
	position:relative;
}
.carousel-caption{
	left:0px;
	margin:0px;
	width:50%;
	padding:0;
	z-index:0;
}
.texto-carousel{
	margin: -18px 0 0 0;
	background: #717F1F;
	padding: 23px 90px 0 10px;
}
.item:nth-child(2n) .texto-carousel{
	background: #2C512D;
	
}
#item-bibli > *{
	display:block;
	margin:0 auto;
	text-align:center;
}

a.carousel-control.right,a.carousel-control.left {
	background:transparent;
}
.titulo-carousel{
	background: #c1c435;
	margin: 0 -18px;
	padding: 16px;
}
footer.container, html #DIV_5{
	padding:10px;
	background-color:#2C512D;
	background-image:url('../images/nice-snow3.png');
	color:#ffffff;
}
#contatos img{
	margin-left:30px;
}
.logos{
	width: 330px;
}
ul ul{
	padding:0;
}
.mapa  li{
	display:inline-block;
	vertical-align:top;
	margin:10px;
	
}
.mapa li ul li{
	display:block;
	line-height:20px;
	margin:0px;
	
}
html .carousel-indicators {
bottom: 10px;
}

.navbar-nav.centro{
	padding: 0;
	width: 92%;
	margin: 0 auto;
	display: block;
	float: none;
}
#menu-principal .menu-item a:hover, #menu-principal .menu-item.current-menu-item{
	background:#2C512D;
}
html .menu-item.current-menu-item a{
	color:#c1c435;
}
.busca{
	
}
ul,ol{
	padding: 0 0 0 10px;
}
#enderecos{
	display:none;
	margin-bottom:20px;
}
#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}
 
#breadcrumbs li{
    float:left;
    margin-right:15px;
}
#breadcrumbs li a{
	color:#79B86F;
}
 
#breadcrumbs .separator{
    font-weight:700;
    font-size:20px;
    color:#999;
}
#noticias .esquerda{
	min-height:1160px;
}
.noticia.col-md-3{
	min-height: 398px;
}
.bloco-destaque{
	min-height:715px;
}
.bloco-noticia{
	min-height:450px;
}
#noticia-destaque2{
	margin-top:32px;
}
#noticia-destaque3 h2{
	font-size:32px;
}
.data{
	color:#2C512D;
	font-size:0.9em;
	font-weight:bolder;
}
.espaco{
	min-height:100px;
	content:'.';
}
.nav-antes{
	position: absolute;
	top: 353px;
	right: -29px;
	width: 48px;
	height: 48px;
	background-image: url('../../assets/images/setas.png');
	background-position: 0 0;
	background-repeat: no-repeat;
}
.nav-depois{
	position: absolute;
	top: 353px;
	left: -29px;
	width: 48px;
	height: 48px;
	background-image: url('../../assets/images/setas.png');
	background-position: -48px 0;
	background-repeat: no-repeat;
}
.nav-depois.noticias, .nav-antes.noticias{
	top: 953px;
	
}
.nav-baixo, .nav-cima{
	width: 48px;
	height: 48px;
/*	background-image: url('../../assets/images/setas.png');*/
	background-position: -48px -48px;
	background-repeat: no-repeat;
	display: block;
	margin:0 auto;
}
.nav-baixo{
	/*background-position: 0 -48px;*/
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #CCAB1A;
	
}
.nav-cima{
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-bottom: 20px solid #CCAB1A;
}
.post-thumbnail.col-md-6{
	float:right;
}
.single-post #comments form{
	max-width:500px;	
}
.single-post .entry-title{
	margin-top:50px;
}
.entry-date{
	font-style: italic;
	font-size: 0.9em;
}
.sem-margem{
	margin:0;
}
.single-post .byline{
	display:none;
}
.single-eventos-thumbnail{
}
.single-eventos .entry-header {
	margin-top:30px;
}
.single-eventos .entry-content{
	margin-top:20px;
}
.entry-header h2{
	margin:0;
}
.negrito{
	font-weight:bolder;
}
hr{
	border-top: 1px solid #DFD0D0;
}
.page_nav a, .page_nav span{
	font-weight:bold;
}
input[type=radio]:checked:before {
content: '\f147';
margin: -3px 0 0 -4px;
color: #1e8cbe;
}
.item-biblioteca a{
	color:#2C512D;
}
.item-biblioteca a:hover{
	color:#717F1F;
}
.pagination-biblioteca >div {
	margin: 0 10px;
}
.pagination-biblioteca{
	clear: both;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	}
.enrolador{
	min-height:200px;
}
.biblioteca h4{
	color:#C1C435;
}
ul li{
	list-style:none;
}
.descrição-cat-biblioteca{
	min-height:40px;
}
/*setas*/
.seta-cima {
	
}

.seta-baixo {
	
}

.seta-direita {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #CCAB1A;
}

.seta-esquerda {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #CCAB1A; 
}
#logos img{
	max-height:100px;
	width:auto;
}
footer .row{
	width: 953px;
	margin: 0 auto;
	float: none;
	display: block;
}
.esquerda{
	margin-left: 47px;
}
/*segurando o responsivo*/
html .col-xs-1, html .col-sm-1, html .col-md-1, html .col-lg-1, html .col-xs-2, html .col-sm-2, html .col-md-2, html .col-lg-2, html .col-xs-3, html .col-sm-3, html .col-md-3, html .col-lg-3, html .col-xs-4, html .col-sm-4, html .col-md-4, html .col-lg-4, html .col-xs-5, html .col-sm-5, html .col-md-5, html .col-lg-5, html .col-xs-6, html .col-sm-6, html .col-md-6, html .col-lg-6, html .col-xs-7, html .col-sm-7, html .col-md-7, html .col-lg-7, html .col-xs-8, html .col-sm-8, html .col-md-8, html .col-lg-8, html .col-xs-9, html .col-sm-9, html .col-md-9, html .col-lg-9, html .col-xs-10, html .col-sm-10, html .col-md-10, html .col-lg-10, html .col-xs-11, html .col-sm-11, html .col-md-11, html .col-lg-11, html .col-xs-12, html .col-sm-12, html .col-md-12, html .col-lg-12 {
	float:left;
}
html .col-md-4 {
width: 33.33333%;
float:left;
}
html .navbar-collapse{
	display:block;
}
html .navbar-nav>li {
float: left;
}
html .navbar-nav>li>a {
padding-top: 15px;
padding-bottom: 15px;
}
html .col-md-11.biblioteca.esquerda.no-sidebar{
	width:1030px;
}
html .col-md-11 {
width: 91.66667%;
}
html .col-md-7 {
width: 58.33333%;
}
html .col-md-5 {
width: 41.66667%;
}
html .col-md-6 {
width: 50%;
}
html .col-md-3 {
width: 25%;
}